<h1>Bonjour {{nom}}</h1>

<p>Vérification : {{verif ? 'vrai' : 'faux'}}</p>

<h1 *ngIf="verif; else faux">Bonjour {{nom}}</h1>
<ng-template #faux>
  <h1>Hello World</h1>
</ng-template>

<div *ngIf="element === 1; then vrai else fauxx"></div>
<ng-template #vrai>
  <button>LogIn</button>
</ng-template>
<ng-template #fauxx>
  <button>LogOut</button>
</ng-template>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let etu of etudiants; let i=index; let isFirst=first; let isLast=last; let isEven=even" 
    [ngClass]="getNomClass(isFirst, isLast, isEven)">
      <td>{{i+1}}</td>
      <td>{{etu.nom}}</td>
      <td>{{etu.prenom}}</td>
      <td>{{etu.age}}</td>
    </tr>
  </tbody>
</table>
